<% include ../partials/header %>

<style>
    .button{
        background-color: #4BA4EF;
    }
</style>
    <div class="row">
        <h1 style="text-align: center">Create a New Campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[name]" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input class= "btn btn-primary button" type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <textarea style="height: 150px" class="form-control" row="10" type="text" name="campground[description]" placeholder="description">My Xperience...</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
        </div>
    </div>
<% include ../partials/footer %>









