body, html {
    height: 100%;
    margin: 0;
}

.signup { 
      height: 100%;
      background-image: url("http://i.imgur.com/K3mPv14.jpg");
      background-size: 100% 100%;
		  
		    
		   
		     
		  
  
}
